.mainHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: brown ;
}

.mainHeader .title{
    color: white;
    font-weight: 900;
}

.mainHeader .cart{
    color: white;
    background-color: rgb(80, 6, 6);
    padding: 15px;
    border-radius: 50px;
}

.mainHeader .cart span{
    background-color: brown;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
}